
body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color: #caf4ba;

}

.header {

    background-color: #035e0c;

    color: #f00808;

    padding: 10px;

    text-align: center;

}
        P{
            color: black;
            font-family: times new roman;
            font-size: 14;

        }

        

        
        .dropdown{
            position: relative;
            display: inline-block;
            
        }
        .dropbtn{
            margin-right: 100px;
            padding: 10px 20px;
            background-color: transparent;
            color: rgb(85, 68, 11);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.5s ease;

        }
        .dropbtn:hover{
            background-color: cornflowerblue;
        }
        .dropdown-content{
            display: none;
            position:absolute;
            background-color: transparent;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(173, 22, 22, 0.2) ;
            z-index: 1;
            transition: opacity 0.5s ease;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            
        }
        .dropdown:hover
        .dropdown-content{
            display: list-item;
            opacity: 10;
            
        }
        .dropdown-content a {
            color: rgb(101, 89, 177);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
        }
        .dropdown-content a:hover{
            background-color: turquoise;
        
        }
        header {
            background-color: rgb(9, 79, 22);
            color: #740f0f;
            padding: 0.1px;
        
            text-align: center;

        }
    

    .main-content {

        margin: 15px;

    }

    .sidebar {

        background-color: #ddd;

        padding: 15px;

        float: right;

        width: 30%;

    }

    .clearfix {

        clear: both;

    }
    main {

        padding: 2rem;

    }

    h1 {

        font-size: 2.5rem;

        margin-bottom: 1rem;

    }

    h2 {

        font-size: 2rem;

        margin-top: 2rem;

    }

    p {

        margin-bottom: 1rem;

    }

    .dept-card {

        background-color: #f2f2f2;

        border-radius: 5px;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        display: flex;

        flex-direction: column;

        align-items: center;

        padding: 2rem;

        margin-bottom: 2rem;

        transition: transform 0.3s ease-in-out;

    }

    .dept-card:hover {

        transform: translateY(-5px);

    }

    .dept-card img {

        width: 100%;

        height: auto;

        border-radius: 5px;

        margin-bottom: 1rem;

    }

    .dept-card h3 {

        font-size: 1.5rem;

        margin-top: 0;

        margin-bottom: 0.5rem;

    }

    .dept-card p {

        text-align: center;

    }
        
        