body{
    font-family: Calibri;
    
    background-color: #c4f0b2;
    
}

header {

    background-color: #035e0c;

    color: #f00808;

    padding: 10px;

    text-align: center;
}
        P{
            color: black;
            font-family: times new roman;
            font-size: 14;

        }
        
        

        
        .dropdown{
            position: relative;
            display: inline-block;
            
        }
        .dropbtn{
            margin-right: 100px;
            padding: 10px 20px;
            background-color: transparent;
            color: rgb(85, 68, 11);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.5s ease;

        }
        .dropbtn:hover{
            background-color: #2c29c5;
        }
        .dropdown-content{
            display: none;
            position:absolute;
            background-color: transparent;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
            z-index: 1;
            transition: opacity 0.5s ease;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            
        }
        .dropdown:hover
        .dropdown-content{
            display: list-item;
            opacity: 10;
            
        }
        .dropdown-content a {
            color: rgb(17, 15, 31);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
        }
        .dropdown-content a:hover{
            background-color: turquoise;
        
        }
    

        .main-content {

            margin: 15px;

        }

        .sidebar {

            background-color: #ddd;

            padding: 15px;

            float: right;

            width: 30%;

        }

        .clearfix {

            clear: both;

        }
          .container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          form {
            display: flex;
            flex-direction: column;
          }
          label {
            margin-bottom: 10px;
            font-weight: bold;
          }
          input[type="text"],
          input[type="number"],
          input[type="email"],
          select {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
          input[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          input[type="submit"]:hover {
            background-color: #0056b3;
          }
        
        